@import '../../assets/scss/variables.scss';

.chat__form {
    display: flex;
    width: 100%;
    column-gap: 10px;
    .question {
        width: 100%;
        margin-bottom: 0;        
        input {
            height: 60px;
        }
    }    
    button {
        height: 60px;
    }
}